# Ambientes virtuais
venv/
.venv/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/

# Arquivos de dados e logs temporários (se houver)
*.log
*.tmp
*.temp

# Arquivos específicos do Streamlit
.streamlit/
app.pyc

# Arquivos de configurações locais (se houver)
.env
.flaskenv
config.local.py

# Resultados de testes (se houver)
/htmlcov/
.coverage

# Arquivos do sistema operacional
.DS_Store
Thumbs.db